<!-- Contact-->

<section id="contact"
  class="section container-fluid d-flex justify-content-center align-items-center background-image-testimonial h-50 w-100">

  <!-- Section Heading -->
  <div class="container w-100 fade-up-footer ">
    <div class="row d-flex">
      <!-- Section Heading -->
      <div class="col-sm-12 col-md-8 offset-md-2">
        <div class="">
          <h2 class="text-white">Say Hey!</h2>
          <h3 class="text-white text-opacity-50">Looking for a Digital Designer who can code?</h3>
          <div class="hero-links d-flex justify-content-center align-items-center mt-4 mt-md-5">
            <a href="mailto:hello@danielshires.com" class="btn btn-primary">
              Send an e-mail
            </a>
            <!-- <a href="#hero" class="mx-4 text-white">Back to top →</a> -->
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-4 testimonial-text">

      </div>
    </div>

  </div>

</section>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark py-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1"><h6>Designed and coded by Daniel Shires</h6><p>© 2021</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->